In [4]:
import pandas as pd
import numpy as np
frame = pd.DataFrame({'a': np.random.randn(100)})
frame

           a
0   2.091286
1   0.438641
2   0.212527
3  -1.841628
4   0.106658
..       ...
95 -0.100790
96 -0.571181
97  0.984441
98  0.228163
99 -0.861276

[100 rows x 1 columns]